body{
    background-color: rgb(51, 49, 49);
}
header{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: fixed; 
    top: 0;
    left: 0;
    border-bottom: 1px solid gold;
}
#pantalla{
    height: 100hv;
    display: flex;
    justify-content: center;
    height: 100vh; 
    margin: 0;
    align-items: center;
}

#calculadora{
    padding: 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    border: 3px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
}

#resultado{
    padding: 30px;
}

#Historial{
    display:absolute;
    height: 20px;
    width: 100px;
    cursor:pointer;
    background-color: rgba(68, 65, 65, 0.7);
    border-radius: 20px;
    border: 2px solid black;
}
#Historial a{
    text-decoration:none;
    color: gold;
}
#Historial:active{
    height: 22px;
    background-color: rgba(117, 111, 111, 0.7);
}